#navbar		{
	position: fixed;
	top: 0px;
	left: 0px;
	border-right: 3px solid gray;
	min-width: 290px;
	height: 100%;
	width: 300px;
}
.nav-link {

	width: 300px;
}
@media screen and (max-width: 600px) {
	body {
		background-color: olive;
	}
}
body {
	background-color: #F7FFE3;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}
#navbar li{

	border: 1px solid gray;
	border-bottom-width: 0;
	width: 96%;
	padding: 15px;
	padding-left: 45px;
	left: -50px;
	position: relative;

}

#nav-div ul {
	list-style-type: none;
}
section {
	display: block;
	margin-left: 25%;
}
code {
	background-color: #9296FF;
	border-radius: 3px;
	padding: 0 3px;
	font-family: courier, monospace;
	display: block;
	line-height: 17px;
	white-space: pre;
	margin: 10px;
	position: relative;
	padding-left: 10px;
	padding-bottom: 10px;

}
a {
	text-decoration: none;
	color: #272828;
	width: 300px;

}
#navbar header {
	font-size: 25px;
	text-align: center;
	font-weight: bold;
}
.main-section header {
	font-weight: bold;
	font-size: 25px;
	font-family: fantacy;
}