@media only screen and (max-width: 600px) {
	body {
		background-color: olive;
	}
}
body {
	background-color: #a1e2ea;
	font-family; fantacy;
	margin: 0;
}

ul {
	display: flex;
	list-style-type: none;
}

#header {
	position: fixed;
	top: 0;
	display: flex;
	margin: 0;
	overflow: hidden;
	background-color: #1B7382;
	justify-content:  space-between;
	width: 100%;

}

#header-img {
	width: 4em;
	height: 4em;
	margin-left: 5%;
	align-items: center;
}
#nav-ul {
	display: flex;
	flex-direction: row;
	margin-top: 13px;
	float: right;
}
a {
	text-decoration: none;
	color: black;
}
#nav-bar {
	align-items: center;
	font-family: Garamond;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	width: 45%;
	color: black;
}

.nav-link:hover {
	background-color: rgb(75, 132, 130, 0.3);
	opacity: 2;
	border-radius: 10%;
}

.nav-link {
	padding: 0 1em 0 1em;
	color: #291630;
}

#form-div {
	text-align: center;
	padding-top: 10%;
	padding-bottom: 7%;
	font-family: fantasy;
	font-size: 17px;
	font-weight: bold;
}

#email {
	border-radius: 10%;
	border-color: gray;
	width: 15em;
	height: 3em;
	font-style: italic;
	box-shadow: 7px 7px 5px grey;
}

#submit {
	border-radius: 15%;
	border-color: black;
	font-size: 15px;
	font-weight: bold;
	background-color: #2b5452;
	box-shadow: 10px 10px 5px grey;
}

#video-div {
	padding-left: 28%;
	padding-top: 7%;
	margin: 0;
}

#video {
	flex: center;
}

#features {
	margin-left: auto;
	margin-right: auto;
	width: 50em;
}

.imgy {
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 7px;
}

.line {
	display: flex;
	margin-left: 16%;
}

.icon {
	display: inline-block;
}

.desc {
	display: inline-block;
	padding: 6px;
}

h2 {
	font-style: italic;
	font-family: fantasy;
	font-weight: bold;
	font-size: 25px;
}

.tour-div {
	border: 1px solid black;
	width: calc(100% / 3);
	margin: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 2px 2px 2px grey;
}

#pricing {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;

}
.header-div {
	text-align: center;
	font-size: 22px;
	font-family: fantacy;
	font-weight: bold;
	padding: 8px;
	background-color: #1B7382;
	width: 96%;
}
p {
	text-align: center;
	font-size: 20px;
	font-family: Garamond;
	font-weight: bold;
}
ul {

	font-size: 20px;
	font-family: fantacy;
	padding: 3px 3px 20px 3px;
	margin: 0 auto 0 auto;
	display:flex;
	flex-direction: column;
}
li {
	padding: 3px;
}
.btn {
	font-size: 17px;
	font-family: fantacy;
	border: 1px solid black;
	width: 100px;
	height: 30px;
	background-color: #1B7382;
	font-weight: bold;
	margin-bottom: 10px;
	box-shadow: 2px 2px 2px grey;
}
footer {
	float: right;
	background-color: #1B7382;
	width: 100%;
	height: 80px;
	margin-top: 30px;

}
#footer-ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-weight: bold;
	font-size: 15px;
	font-color: black;
	padding-top: 17px;
}
span {
	font-size: 15px;
	font-color: #0C343B;
	display: flex;
	justify-content: flex-end;
    padding-bottom: 5px;
}

